---
apiVersion: eks.amazonaws.com/v1
kind: TargetGroupBinding
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.namespace }}
spec:
  serviceRef:
    name: {{ .Values.app.name }}
    port: {{ .Values.service.ports.http }}
  {{- if .Values.targetGroup.lookup.enabled }}
  targetGroupARN: {{ include "lookupConfigMapValue" (dict "Namespace" .Values.targetGroup.lookup.namespace "Name" .Values.targetGroup.lookup.configMapName "Key" .Values.targetGroup.lookup.key "Scope" .) }}
  {{- else }}
  targetGroupARN: {{ .Values.targetGroup.arn }}
  {{- end }}
  targetType: {{ .Values.targetGroup.targetType }}
